<div class="game-container">
    <h2>Current Move: {{ gameData.currentMove }}</h2>
    <div class="score-display">
      <p>{{ gameData.points }}</p>
      <p>Bonus: +{{ gameData.baseScoreBonusAdditive }}</p>
      <p>Streak Bonus: +{{ gameData.streakBonus }}</p>
      <p>Mult: x{{ gameData.mult }}</p>
    </div>

    <div class="streak-info">
      <p>Streak: {{ gameData.streak }}</p>
      <p>PPW: {{ gameData.pointsPerWin }}</p>
    </div>

    <div class="controls">
      <button (click)="makeChoice('Rock')">Rock</button>
      <button (click)="makeChoice('Paper')">Paper</button>
      <button (click)="makeChoice('Scissors')">Scissors</button>
    </div>

    <div *ngIf="gameData.rockSniperActive || gameData.paperSniperActive || gameData.scissorSniperActive" class="sniper-info">
        <p *ngIf="gameData.rockSniperActive">Rocks: {{ gameData.rocks }}</p>
        <p *ngIf="gameData.paperSniperActive">Papers: {{ gameData.papers }}</p>
        <p *ngIf="gameData.scissorSniperActive">Scissors: {{ gameData.scissors }}</p>
    </div>

    <button routerLink="/shop" class="shop-button ">Shop</button>
</div>