<div class="helpPage" [class.midasCurseActive]="gameData.isMidasCursePurchased">
    <section>
      <h2>Streak</h2>
      <p>As your streak grows, you earn a bigger 'Streak Bonus' which directly increases the points you earn per win (PPW).</p>
      <p>Each consecutive win increases your 'Streak Bonus' by {{ gameData.streakPoints }}. This can be upgraded.</p>
    </section>

    <!-- <section>
      <h2></h2>
      <p></p>
    </section> -->

    <!-- Navigation Buttons -->
    <div>
        <button routerLink="/help" class=""><-</button>
        <button routerLink="/" class="back-button">Back to Game</button>
    </div>
  </div>