<div class="shop-container">
    <h2>Shop</h2>
    <p class="points">Points: {{ points }}</p>
  
    <!-- Power-Up Item -->
     <div class="container">
        <div class="shop-item">
            <p>Increase permanent score bonus</p>
            <p>(+{{baseScoreBonusAdditive}} -> +{{ baseScoreBonusAdditive + 1 }})</p>
            <p>Cost: {{ scoreBonusUpgradeCost }} points</p>
            <button (click)="purchaseScoreBonusUpgrade()" [disabled]="points < scoreBonusUpgradeCost">
                Buy
            </button>
        </div>
        <div class="shop-item">
            <p>Increase permanent score multiplier</p>
            <p> (x{{ mult }} -> x{{ mult + 1 }})</p>
            <p>Cost: {{ scoreMultUpgradeCost }} points</p>
            <button (click)="purchaseScoreMultUpgrade()" [disabled]="points < scoreMultUpgradeCost">
                Buy
            </button>
        </div>
     </div>

    <!-- Sniper Upgrades -->
    <div class="container">
        <div class="sniper">
            <p>Rock Sniper</p>
            <p>Automatically counters Scissors with Rock.</p>
            <p>Cost: {{ sniperCost }} points</p>
            <button (click)="purchaseSniper('rock')" [disabled]="rockSniperActive || points < sniperCost">
                Buy
            </button>
        </div>
        <div class="sniper">
            <p>Paper Sniper</p>
            <p>Automatically counters Rock with Paper.</p>
            <p>Cost: {{ sniperCost }} points</p>
            <button (click)="purchaseSniper('paper')" [disabled]="paperSniperActive || points < sniperCost">
                Buy
            </button>
        </div>
        <div class="sniper">
            <p>Scissor Sniper</p>
            <p>Automatically counters Paper with Scissors.</p>
            <p>Cost: {{ sniperCost }} points</p>
            <button (click)="purchaseSniper('scissor')" [disabled]="scissorSniperActive || points < sniperCost">
                Buy
            </button>
        </div>
    </div>

    <!-- Fuel Purchase -->
    <div class="fuel-container">
        <div class="fuel">
            <p>Cost: {{ fuelCost }} points</p>
            <div class="fuel-buttons">
                <button (click)="purchaseFuel('rock', 50, fuelCost)" [disabled]="points < fuelCost">+50 Rock Fuel</button>
                <button (click)="purchaseFuel('paper', 50, fuelCost)" [disabled]="points < fuelCost">+50 Paper Fuel</button>
                <button (click)="purchaseFuel('scissor', 50, fuelCost)" [disabled]="points < fuelCost">+50 Scissor Fuel</button>
            </div>
        </div>
    </div>

    <!-- Back Button -->
    <button routerLink="/" class="back-button">Back to Game</button>
</div>
