<div class="achievements-container" [class.midasCurseActive]="gameData.isMidasCursePurchased">
    <h2><img src="/trophy.png" alt="Trophy" class="header-icon"> Achievements</h2>

    <h3 class="achievement-section-title">Upgrades</h3>
    <div class="achievement-list">
      <div class="achievement-card" *ngFor="let a of upgradeAchievements">
        <div class="achievement-info">
          <h3>{{ a.title }}</h3>
          <p>{{ a.description }}</p>
          <p class="status" [class.unlocked]="achievementService.isUnlocked(a.id)">
            {{ achievementService.isUnlocked(a.id) ? 'Completed' : 'Locked' }}
          </p>
        </div>
      </div>
    </div>
  
    <div class="button-group">
      <button routerLink="/achievements" class="next-button"><-</button>
      <button routerLink="/" class="back-button">Back to Game</button>
      <button routerLink="/achievements3" class="next-button">-></button>
    </div>
    <p>Total Achievements: {{ achievementService.getCompletionPercentage() }}% Complete</p>
  </div>
  