<div class="shop-container">
    <h2>Shop</h2>
    <p class="points">Points: {{ gameData.points }}</p>

    <div class="container">

        <!-- Rock Generator -->
        <div class="shop-item">
            <p>Rock Generator</p>
            <p>Generates {{ gameData.rockGenerationAmount }} rock{{gameData.rockGenerationAmount == 1 ? '' : 's'}} every {{ gameData.rockGeneratorInterval }} seconds</p>
            <span *ngIf="!gameData.rockGeneratorActive">
                <p>Cost: {{ gameData.generatorCost }} points</p>
                <button (click)="purchaseGenerator('rock')" 
                        [disabled]="(gameData.points < gameData.generatorCost)  || (!gameData.rockSniperActive)">
                    Buy
                </button>
            </span>
            <span *ngIf="gameData.rockGeneratorActive">
                <p>{{ gameData.rockGenerationAmount }}
                    <span *ngIf="gameData.rockGenerationAmount < gameData.maxGenerationAmount">
                        -> {{ gameData.rockGenerationAmount + ( gameData.firstRockGenUpgrade ? gameData.generationIncrement - 1 : gameData.generationIncrement) }}
                    </span>
                </p>
                <p>{{ gameData.rockGenerationAmount >= gameData.maxGenerationAmount ? 'Maxed Out' : 'Cost: ' + gameData.rockGenerationUpgradeCost + ' points' }}</p>
                <button (click)="purchaseGenerationUpgrade('rock')"
                        [disabled]="(gameData.points < gameData.rockGenerationUpgradeCost) || (gameData.rockGenerationAmount >= gameData.maxGenerationAmount)">
                    Upgrade
                </button>
            </span>
        </div>

        <!-- Paper Generator -->
        <div class="shop-item">
            <p>Paper Generator</p>
            <p>Generates {{ gameData.paperGenerationAmount }} paper{{gameData.paperGenerationAmount == 1 ? '' : 's'}} every {{ gameData.paperGeneratorInterval }} seconds</p>
            <span *ngIf="!gameData.paperGeneratorActive">
                <p>Cost: {{ gameData.generatorCost }} points</p>
                <button (click)="purchaseGenerator('paper')" 
                        [disabled]="(gameData.points < gameData.generatorCost) || (!gameData.paperSniperActive)">
                    Buy
                </button>
            </span>
            <span *ngIf="gameData.paperGeneratorActive">
                <p>{{ gameData.paperGenerationAmount }}
                    <span *ngIf="gameData.paperGenerationAmount < gameData.maxGenerationAmount">
                        -> {{ gameData.paperGenerationAmount + ( gameData.firstPaperGenUpgrade ? gameData.generationIncrement - 1 : gameData.generationIncrement) }}
                    </span>
                </p>
                <p>{{ gameData.paperGenerationAmount >= gameData.maxGenerationAmount ? 'Maxed Out' : 'Cost: ' + gameData.paperGenerationUpgradeCost + ' points' }}</p>
                <button (click)="purchaseGenerationUpgrade('paper')"
                        [disabled]="(gameData.points < gameData.paperGenerationUpgradeCost) || (gameData.paperGenerationAmount >= gameData.maxGenerationAmount)">
                    Upgrade
                </button>
            </span>
        </div>

        <!-- Scissor Generator -->
        <div class="shop-item">
            <p>Scissor Generator</p>
            <p>Generates {{ gameData.scissorGenerationAmount }} scissor{{gameData.scissorGenerationAmount == 1 ? '' : 's'}} every {{ gameData.scissorGeneratorInterval }} seconds</p>
            <span *ngIf="!gameData.scissorGeneratorActive">
                <p>Cost: {{ gameData.generatorCost }} points</p>
                <button (click)="purchaseGenerator('scissor')" 
                        [disabled]="(gameData.points < gameData.generatorCost)  || (!gameData.scissorSniperActive)">
                    Buy
                </button>
            </span>
            <span *ngIf="gameData.scissorGeneratorActive">
                <p>{{ gameData.scissorGenerationAmount }}
                    <span *ngIf="gameData.scissorGenerationAmount < gameData.maxGenerationAmount">
                        -> {{ gameData.scissorGenerationAmount + ( gameData.firstScissorGenUpgrade ? gameData.generationIncrement - 1 : gameData.generationIncrement) }}
                    </span>
                </p>
                <p>{{ gameData.scissorGenerationAmount >= gameData.maxGenerationAmount ? 'Maxed Out' : 'Cost: ' + gameData.scissorGenerationUpgradeCost + ' points' }}</p>
                <button (click)="purchaseGenerationUpgrade('scissor')"
                        [disabled]="(gameData.points < gameData.scissorGenerationUpgradeCost) || (gameData.scissorGenerationAmount >= gameData.maxGenerationAmount)">
                    Upgrade
                </button>
            </span>
        </div>
    </div>

    <!-- Fuel Purchase -->
    <div class="fuel-container">
        <div class="fuel">
            <p>Cost: {{ gameData.fuelCost }} points</p>
            <div>
                <button (click)="purchaseFuel('rock')" [disabled]="(gameData.points < gameData.fuelCost) || (!gameData.rockSniperActive)">+{{gameData.fuelAmount}} Rocks</button>
                <button (click)="purchaseFuel('paper')" [disabled]="(gameData.points < gameData.fuelCost) || (!gameData.paperSniperActive)">+{{gameData.fuelAmount}} Papers</button>
                <button (click)="purchaseFuel('scissor')" [disabled]="(gameData.points < gameData.fuelCost) || (!gameData.scissorSniperActive)">+{{gameData.fuelAmount}} Scissors</button>
            </div>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="button-group">
        <button routerLink="/shop" class="next-button"><</button>
        <button routerLink="/" class="back-button">Back to Game</button>
        <button routerLink="/shop3" class="next-button">></button>
    </div>
</div>
