<div class="shop-container">
    <h2>Shop</h2>
    <p class="points">Points: {{ gameData.points }}</p>

    <div class="container">
        <p *ngIf="gameData.scissorGeneratorActive && gameData.scissorGenerationAmount >= gameData.maxGenerationAmount">Rocks: {{ gameData.rocks }}</p>
        <p *ngIf="gameData.rockGeneratorActive && gameData.rockGenerationAmount >= gameData.maxGenerationAmount">Papers: {{ gameData.papers }}</p>
        <p *ngIf="gameData.paperGeneratorActive && gameData.paperGenerationAmount >= gameData.maxGenerationAmount">Scissors: {{ gameData.scissors }}</p>
    </div>

    <div class="container">
        <!-- Rock Generator -->
        <div class="shop-item">
            <p>Rock Generator</p>
            <p>Generates {{ gameData.rockGenerationAmount }} rock{{ gameData.rockGenerationAmount == 1 ? '' : 's' }} every {{ gameData.rockGeneratorInterval }} seconds</p>
          
            <!-- Not Purchased -->
            <ng-container *ngIf="!gameData.rockGeneratorActive">
              <p>Cost: {{ gameData.generatorCost }} points</p>
              <button 
                  (click)="purchaseGenerator('rock')" 
                  [disabled]="(gameData.points < gameData.generatorCost) || (!gameData.rockSniperActive)">
                  Buy
              </button>
            </ng-container>
          
            <!-- Increase Amount per Generation Increment in seconds -->
            <ng-container *ngIf="gameData.rockGeneratorActive && gameData.rockGenerationAmount < gameData.maxGenerationAmount">
              <p>{{ gameData.rockGenerationAmount }} → 
                {{ gameData.rockGenerationAmount + (gameData.firstRockGenUpgrade ? gameData.generationIncrement - 1 : gameData.generationIncrement) }}
              </p>
              <p>Cost: {{ gameData.rockGenerationUpgradeCost }} points</p>
              <button 
                  (click)="purchaseGenerationUpgrade('rock')"
                  [disabled]="(gameData.points < gameData.rockGenerationUpgradeCost)">
                  Upgrade
              </button>
            </ng-container>
        
            <!-- Reduce the time per fuel generation -->
            <ng-container *ngIf="gameData.rockGeneratorActive && gameData.rockGenerationAmount >= gameData.maxGenerationAmount">
                <ng-container *ngIf="gameData.rockGeneratorInterval > gameData.minIntervalLimit">
                    <p>
                        {{ gameData.rockGeneratorInterval }}s →
                        {{
                        (gameData.rockGeneratorInterval - gameData.intervalIncrement) < gameData.minIntervalLimit
                            ? gameData.minIntervalLimit
                            : gameData.rockGeneratorInterval - gameData.intervalIncrement
                        }}s
                    </p>
                    <p>Cost: {{ gameData.rockIntervalUpgradeCost }} papers</p>
                    <button 
                        (click)="upgradeInterval('rock')" 
                        [disabled]="gameData.papers < gameData.rockIntervalUpgradeCost">
                        Upgrade
                    </button>
                </ng-container>
            
                <!-- Limit Reached -->
                <ng-container *ngIf="gameData.rockGeneratorInterval <= gameData.minIntervalLimit">
                    <p>Limit Reached</p>
                    <button disabled>Upgrade</button>
                </ng-container>
            </ng-container>
        </div>
          
        <!-- Paper Generator -->
        <div class="shop-item">
            <p>Paper Generator</p>
            <p>Generates {{ gameData.paperGenerationAmount }} paper{{ gameData.paperGenerationAmount == 1 ? '' : 's' }} every {{ gameData.paperGeneratorInterval }} seconds</p>
        
            <!-- Not Purchased -->
            <ng-container *ngIf="!gameData.paperGeneratorActive">
                <p>Cost: {{ gameData.generatorCost }} points</p>
                <button 
                    (click)="purchaseGenerator('paper')" 
                    [disabled]="(gameData.points < gameData.generatorCost) || (!gameData.paperSniperActive)">
                    Buy
                </button>
            </ng-container>
        
            <!-- Increase Amount per Generation Increment in seconds -->
            <ng-container *ngIf="gameData.paperGeneratorActive && gameData.paperGenerationAmount < gameData.maxGenerationAmount">
                <p>{{ gameData.paperGenerationAmount }} →
                    {{ gameData.paperGenerationAmount + (gameData.firstPaperGenUpgrade ? gameData.generationIncrement - 1 : gameData.generationIncrement) }}
                </p>
                <p>Cost: {{ gameData.paperGenerationUpgradeCost }} points</p>
                <button 
                    (click)="purchaseGenerationUpgrade('paper')"
                    [disabled]="(gameData.points < gameData.paperGenerationUpgradeCost)">
                    Upgrade
                </button>
            </ng-container>
        
            <!-- Reduce the time per fuel generation -->
            <ng-container *ngIf="gameData.paperGeneratorActive && gameData.paperGenerationAmount >= gameData.maxGenerationAmount">
                <ng-container *ngIf="gameData.paperGeneratorInterval > gameData.minIntervalLimit">
                    <p>
                    {{ gameData.paperGeneratorInterval }}s →
                    {{
                        (gameData.paperGeneratorInterval - gameData.intervalIncrement) < gameData.minIntervalLimit
                        ? gameData.minIntervalLimit
                        : gameData.paperGeneratorInterval - gameData.intervalIncrement
                    }}s
                    </p>
                    <p>Cost: {{ gameData.paperIntervalUpgradeCost }} scissors</p>
                    <button 
                        (click)="upgradeInterval('paper')" 
                        [disabled]="gameData.scissors < gameData.paperIntervalUpgradeCost">
                        Upgrade
                    </button>
                </ng-container>
            
                <!-- Limit Reached -->
                <ng-container *ngIf="gameData.paperGeneratorInterval <= gameData.minIntervalLimit">
                    <p>Limit Reached</p>
                    <button disabled>Upgrade</button>
                </ng-container>
            </ng-container>
        </div>
  
        <!-- Scissor Generator -->
        <div class="shop-item">
            <p>Scissor Generator</p>
            <p>Generates {{ gameData.scissorGenerationAmount }} scissor{{ gameData.scissorGenerationAmount == 1 ? '' : 's' }} every {{ gameData.scissorGeneratorInterval }} seconds</p>
        
            <!-- Not Purchased -->
            <ng-container *ngIf="!gameData.scissorGeneratorActive">
            <p>Cost: {{ gameData.generatorCost }} points</p>
            <button 
                (click)="purchaseGenerator('scissor')" 
                [disabled]="(gameData.points < gameData.generatorCost) || (!gameData.scissorSniperActive)">
                Buy
            </button>
            </ng-container>
        
            <!-- Increase Amount per Generation Increment in seconds -->
            <ng-container *ngIf="gameData.scissorGeneratorActive && gameData.scissorGenerationAmount < gameData.maxGenerationAmount">
                <p>{{ gameData.scissorGenerationAmount }} →
                    {{ gameData.scissorGenerationAmount + (gameData.firstScissorGenUpgrade ? gameData.generationIncrement - 1 : gameData.generationIncrement) }}
                </p>
                <p>Cost: {{ gameData.scissorGenerationUpgradeCost }} points</p>
                <button 
                    (click)="purchaseGenerationUpgrade('scissor')"
                    [disabled]="(gameData.points < gameData.scissorGenerationUpgradeCost)">
                    Upgrade
                </button>
            </ng-container>
        
            <!-- Reduce the time per fuel generation -->
            <ng-container *ngIf="gameData.scissorGeneratorActive && gameData.scissorGenerationAmount >= gameData.maxGenerationAmount">
                <ng-container *ngIf="gameData.scissorGeneratorInterval > gameData.minIntervalLimit">
                    <p>
                    {{ gameData.scissorGeneratorInterval }}s →
                    {{
                        (gameData.scissorGeneratorInterval - gameData.intervalIncrement) < gameData.minIntervalLimit
                        ? gameData.minIntervalLimit
                        : gameData.scissorGeneratorInterval - gameData.intervalIncrement
                    }}s
                    </p>
                    <p>Cost: {{ gameData.scissorIntervalUpgradeCost }} rocks</p>
                    <button 
                        (click)="upgradeInterval('scissor')" 
                        [disabled]="gameData.rocks < gameData.scissorIntervalUpgradeCost">
                        Upgrade
                    </button>
                </ng-container>
        
                <!-- Limit Reached -->
                <ng-container *ngIf="gameData.scissorGeneratorInterval <= gameData.minIntervalLimit">
                    <p>Limit Reached</p>
                    <button disabled>Upgrade</button>
                </ng-container>
            </ng-container>
        </div>

        <div class="shop-item">
            <p>Rock to Paper Converter</p>
            <p>Convert {{ gameData.baseConversionCost }} rocks into {{ gameData.baseConversionGain }} papers</p>
            <button (click)="converter('rock')" [disabled]="(gameData.rocks < gameData.baseConversionCost)">Convert</button>
        </div>
  
        <div class="shop-item">
            <p>Paper to Scissor Converter</p>
            <p>Convert {{ gameData.baseConversionCost }} papers into {{ gameData.baseConversionGain }} scissors</p>
            <button (click)="converter('paper')" [disabled]="(gameData.papers < gameData.baseConversionCost)">Convert</button>
        </div>

        <div class="shop-item">
            <p>Scissor to Rock Converter</p>
            <p>Convert {{ gameData.baseConversionCost }} scissors into {{ gameData.baseConversionGain }} rocks</p>
            <button (click)="converter('scissor')" [disabled]="(gameData.scissors < gameData.baseConversionCost)">Convert</button>
        </div>

    <!-- Navigation Buttons -->
    <div class="button-group">
        <button routerLink="/shop" class="next-button"><-</button>
        <button routerLink="/" class="back-button" (click)="gameData.saveGameData()">Back to Game</button>
    </div>
</div>
