<div class="shop-container">
    <h2>Shop</h2>
    <p class="points">Points: {{ gameData.points }}</p>

    <!-- Efficiency Upgrades -->
    <div class="container">
        <div class="shop-item">
            <p>Rock Sniper Efficiency</p>
            <p>Increases Rock Sniper Speed by</p>
            <p>
                {{ gameData.baseRockEfficiencyPercentage }}%
                <span *ngIf="gameData.baseRockEfficiencyPercentage < gameData.maxEfficiency">
                    -> {{ gameData.baseRockEfficiencyPercentage + gameData.efficiencyIncrement }}%
                </span>
            </p>
            <p>{{ gameData.baseRockEfficiencyPercentage >= gameData.maxEfficiency ? 'Limit Reached' : 'Cost: ' + gameData.rockEfficiencyUpgradeCost + ' points' }}</p>
            <button (click)="purchaseSniperEfficiency('rock')" [disabled]="(gameData.points < gameData.rockEfficiencyUpgradeCost) || (!gameData.rockSniperActive) || (gameData.baseRockEfficiencyPercentage >= gameData.maxEfficiency)">Buy</button>
        </div>
        <div class="shop-item">
            <p>Paper Sniper Efficiency</p>
            <p>Increases Paper Sniper Speed by</p>
            <p>
                {{ gameData.basePaperEfficiencyPercentage }}%
                <span *ngIf="gameData.basePaperEfficiencyPercentage < gameData.maxEfficiency">
                    -> {{ gameData.basePaperEfficiencyPercentage + gameData.efficiencyIncrement }}%
                </span>
            </p>
            <p>{{ gameData.basePaperEfficiencyPercentage >= gameData.maxEfficiency ? 'Limit Reached' : 'Cost: ' + gameData.paperEfficiencyUpgradeCost + ' points' }}</p>
            <button (click)="purchaseSniperEfficiency('paper')" [disabled]="(gameData.points < gameData.paperEfficiencyUpgradeCost) || (!gameData.paperSniperActive) || (gameData.basePaperEfficiencyPercentage >= gameData.maxEfficiency)">Buy</button>
        </div>
        <div class="shop-item">
            <p>Scissor Sniper Efficiency</p>
            <p>Increases Scissor Sniper Speed by</p>
            <p>
                {{ gameData.baseScissorEfficiencyPercentage }}%
                <span *ngIf="gameData.baseScissorEfficiencyPercentage < gameData.maxEfficiency">
                    -> {{ gameData.baseScissorEfficiencyPercentage + gameData.efficiencyIncrement }}%
                </span>
            </p>
            <p>{{ gameData.baseScissorEfficiencyPercentage >= gameData.maxEfficiency ? 'Limit Reached' : 'Cost: ' + gameData.scissorEfficiencyUpgradeCost + ' points' }}</p>
            <button (click)="purchaseSniperEfficiency('scissor')" [disabled]="(gameData.points < gameData.scissorEfficiencyUpgradeCost) || (!gameData.scissorSniperActive) || (gameData.baseScissorEfficiencyPercentage >= gameData.maxEfficiency)">Buy</button>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="button-group">
        <button routerLink="/shop" class="next-button"><</button>
        <button routerLink="/" class="back-button">Back to Game</button>
        <button routerLink="/shop3" class="next-button">></button>
    </div>
</div>
